/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     /*width: 960px;*/
     font-size: 12px;
     line-height: 1.4;
     border: 2px solid #ECF0F1;
     margin-left: auto;
     margin-right: auto;
     padding: 20px;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
}

/******************************************
/* LAYOUT                   
/*******************************************/

header {
     padding-top: 0px;
     width: 100%;
     float: left;
}
header h2{
     margin-left: 20px;
}

h1 {
     display: inline-block;
}

header ul {
     width: 100%
}

header li {
     width: 15.8%;
     float: left;
     background-color: black;
     text-align: center;
     margin-right: .2%;
}

header li.last {
 margin-right: 0;    
}

header li a {
     color: white;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 24px;
     padding: 20px 20px 20px 20px;
     display: block;
     text-decoration: none;
}


h1 a {
     color: #EF4836;
     font-size: 56px;
     text-decoration: none;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-style: normal;
     font-weight: normal;
}


h2 {
     color: #333333;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 24px;
     margin-top: -10px;

     display: inline-block;
     margin-bottom: 5px;
}

h3 {
     color: #DADFE1;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 36px;
     padding-top: 20px;
}

h2 a {
     color: #333333;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 42px;
     text-decoration: none;

}

p {
     color: #333333;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 18px;

}

span {
     color: #DADFE1;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 120px;
     float: left;
     line-height: 80px;
     padding-top: 4px;
     padding-right: 12px;

}

h4 a {
     color: #EF4836;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 18px;
     text-decoration: none;
     margin-right: 40px;
     text-align: right;
     display: block;
     padding: 20px 0 20px 0;
}

article {
     border-bottom: 1px solid #ECF0F1;
     padding-bottom: 60px;

}

article p {
     padding-top: 20px;

}

footer {
     clear: both;
}

footer p {
     color: #DADFE1;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 18px;
}

footer a {
     color: #EF4836;
     text-decoration: none;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 18px;
     padding-top: 20px;
}


main {
     float: left;
     width: 60%;
}

aside {
     float: left;
     width: 40%;
     padding-left: 30px;
     padding-top: 88px;
     padding-right: 60px;
}

aside p {
     color: #888888;
     line-height: 1.5em;
}

h5 {
     color: #888888;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: bold;
     font-size: 18px;
     padding-bottom: 20px;

}

article img {
     width: 100%;
     height: 100%;
}

aside img {
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     padding-top: 30px;
     padding-bottom: 30px;
     width: 100%;
     height: 100%;
}

aside li {
     text-align: left;
     display: block;
}

aside ul {
     list-style: circle;
}

aside a {
     color: #EF4836;
     text-decoration: none;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     font-size: 18px;
     padding-top: 20px;
     list-style: circle;

}

